In [1]:
# imports
import pandas as pd
import json
import os # use this to access your environment variables
import requests # this will be used to call the APIs

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [2]:
FOURSQUARE_API_KEY = os.environ["four_square"]

# I was not able to save my four_square API in the variable above, I requested for AR and my mentor also struggled and was not able to solve the issue. I decided to move on with my project by including my API KEY directly.

KeyError: 'four_square'

In [2]:
# This is to test that my API connection would be working
url = "https://api.foursquare.com/v3/places/search?l=39.159207%2C-86.525874&radius=1000&categories=4d4b7105d754a06374d81259"

headers = {
    "accept": "application/json",
    "Authorization": "fsq3dpqhqp5IwUQiS1MSSDH5MjL8QE4WtTJe7bfDdX0pGtI="
}
response = requests.get(url, headers=headers)

print(response.text)

{"results":[{"fsq_id":"4c52e13994790f47ae5632a3","categories":[{"id":13032,"name":"Cafe, Coffee, and Tea House","short_name":"Cafe, Coffee, and Tea House","plural_name":"Cafes, Coffee, and Tea Houses","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_","suffix":".png"}},{"id":13043,"name":"Donut Shop","short_name":"Donuts","plural_name":"Donut Shops","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/donuts_","suffix":".png"}},{"id":13065,"name":"Restaurant","short_name":"Restaurant","plural_name":"Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/default_","suffix":".png"}}],"chains":[{"id":"d5719cc0-d890-0132-61d3-7a163eb2a6fc","name":"Tim Hortons"}],"closed_bucket":"VeryLikelyOpen","distance":630,"geocodes":{"main":{"latitude":43.716196,"longitude":-79.283305},"roof":{"latitude":43.716196,"longitude":-79.283305}},"link":"/v3/places/4c52e13994790f47ae5632a3","location":{"address":"720 Warden Ave","country":"CA","cross_street":"at Comstock Rd","formatted_address":"720 Warden Ave (at Comstock Rd), Scarborough ON M1L 4A1","locality":"Scarborough","postcode":"M1L 4A1","region":"ON"},"name":"Tim Hortons","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"553019af498e4433056a9b95","categories":[{"id":13064,"name":"Pizzeria","short_name":"Pizza","plural_name":"Pizzerias","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/pizza_","suffix":".png"}},{"id":13145,"name":"Fast Food Restaurant","short_name":"Fast Food","plural_name":"Fast Food Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/fastfood_","suffix":".png"}}],"chains":[{"id":"ab4a6b90-d68a-012e-5619-003048cad9da","name":"Pizza Hut"}],"closed_bucket":"VeryLikelyOpen","distance":782,"geocodes":{"main":{"latitude":43.710928,"longitude":-79.290996},"roof":{"latitude":43.710928,"longitude":-79.290996}},"link":"/v3/places/553019af498e4433056a9b95","location":{"address":"643 Pharmacy Ave","country":"CA","cross_street":"","formatted_address":"643 Pharmacy Ave, Scarborough ON M1L 3H3","locality":"Scarborough","postcode":"M1L 3H3","region":"ON"},"name":"Pizza Hut","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"4cb6527eb315a0934c469b76","categories":[{"id":13002,"name":"Bakery","short_name":"Bakery","plural_name":"Bakeries","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/bakery_","suffix":".png"}},{"id":13035,"name":"Coffee Shop","short_name":"Coffee Shop","plural_name":"Coffee Shops","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_","suffix":".png"}},{"id":13065,"name":"Restaurant","short_name":"Restaurant","plural_name":"Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/default_","suffix":".png"}}],"chains":[],"closed_bucket":"LikelyOpen","distance":145,"geocodes":{"main":{"latitude":43.711351,"longitude":-79.279595},"roof":{"latitude":43.711351,"longitude":-79.279595}},"link":"/v3/places/4cb6527eb315a0934c469b76","location":{"address":"701 Warden Ave","country":"CA","cross_street":"Warden","formatted_address":"701 Warden Ave (Warden), Toronto ON M1L 3Z5","locality":"Toronto","postcode":"M1L 3Z5","region":"ON"},"name":"Bakery on the Go","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"a1a9c162e42b40827a694912","categories":[{"id":13051,"name":"Fish and Chips Shop","short_name":"Fish and Chips Shop","plural_name":"Fish and Chips Shops","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/fishandchips_","suffix":".png"}},{"id":13338,"name":"Seafood Restaurant","short_name":"Seafood","plural_name":"Seafood Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/seafood_","suffix":".png"}}],"chains":[],"closed_bucket":"LikelyOpen","distance":403,"geocodes":{"main":{"latitude":43.714125,"longitude":-79.283213},"roof":{"latitude":43.714125,"longitude":-79.283213}},"link":"/v3/places/a1a9c162e42b40827a694912","location":{"address":"95 Lebovic","country":"CA","formatted_address":"95 Lebovic, Scarborough ON M1L 0H2","locality":"Scarborough","postcode":"M1L 0H2","region":"ON"},"name":"Hamish Kitchen Restaurant","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"5758d0e7498ead2a505eaffd","categories":[{"id":13199,"name":"Indian Restaurant","short_name":"Indian","plural_name":"Indian Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/indian_","suffix":".png"}}],"chains":[],"closed_bucket":"LikelyOpen","distance":769,"geocodes":{"main":{"latitude":43.710823,"longitude":-79.290886},"roof":{"latitude":43.710823,"longitude":-79.290886}},"link":"/v3/places/5758d0e7498ead2a505eaffd","location":{"address":"641 Pharmacy Ave","country":"CA","cross_street":"","formatted_address":"641 Pharmacy Ave, Scarborough ON M1L 3H3","locality":"Scarborough","postcode":"M1L 3H3","region":"ON"},"name":"Lageez","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"4f2dbba9e4b05a84d83fa830","categories":[{"id":13031,"name":"Burger Joint","short_name":"Burgers","plural_name":"Burger Joints","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/burger_","suffix":".png"}},{"id":13049,"name":"Diner","short_name":"Diner","plural_name":"Diners","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/diner_","suffix":".png"}}],"chains":[],"closed_bucket":"LikelyOpen","distance":771,"geocodes":{"main":{"latitude":43.710712,"longitude":-79.290868},"roof":{"latitude":43.710712,"longitude":-79.290868}},"link":"/v3/places/4f2dbba9e4b05a84d83fa830","location":{"address":"629 Pharmacy Ave","country":"CA","cross_street":"St. Clair","formatted_address":"629 Pharmacy Ave (St. Clair), Toronto ON M1L 3H3","locality":"Toronto","postcode":"M1L 3H3","region":"ON"},"name":"Jumbo Hamburger","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"4bd3a52db221c9b62055dad0","categories":[{"id":13064,"name":"Pizzeria","short_name":"Pizza","plural_name":"Pizzerias","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/pizza_","suffix":".png"}},{"id":13145,"name":"Fast Food Restaurant","short_name":"Fast Food","plural_name":"Fast Food Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/fastfood_","suffix":".png"}}],"chains":[{"id":"ab4afc60-d68a-012e-5619-003048cad9da","name":"Domino's Pizza"}],"closed_bucket":"VeryLikelyOpen","distance":881,"geocodes":{"main":{"latitude":43.704886,"longitude":-79.288314},"roof":{"latitude":43.704886,"longitude":-79.288314}},"link":"/v3/places/4bd3a52db221c9b62055dad0","location":{"address":"447 Pharmacy Ave","country":"CA","cross_street":"","formatted_address":"447 Pharmacy Ave, Scarborough ON M1L 3G7","locality":"Scarborough","postcode":"M1L 3G7","region":"ON"},"name":"Domino's Pizza","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"13a53544c19b49c85c1af040","categories":[{"id":13099,"name":"Chinese Restaurant","short_name":"Chinese","plural_name":"Chinese Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/asian_","suffix":".png"}}],"chains":[],"closed_bucket":"LikelyOpen","distance":923,"geocodes":{"main":{"latitude":43.718928,"longitude":-79.283593},"roof":{"latitude":43.718928,"longitude":-79.283593}},"link":"/v3/places/13a53544c19b49c85c1af040","location":{"address":"751 Warden Ave","country":"CA","formatted_address":"751 Warden Ave, Scarborough ON M1L 4B2","locality":"Scarborough","postcode":"M1L 4B2","region":"ON"},"name":"Best & Fresh Co Ltd","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"15479e5b6d01c5fd750d2558","categories":[{"id":13065,"name":"Restaurant","short_name":"Restaurant","plural_name":"Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/default_","suffix":".png"}}],"chains":[],"closed_bucket":"VeryLikelyOpen","distance":933,"geocodes":{"main":{"latitude":43.714026,"longitude":-79.270466},"roof":{"latitude":43.714026,"longitude":-79.270466}},"link":"/v3/places/15479e5b6d01c5fd750d2558","location":{"address":"577 Birchmount Rd","country":"CA","formatted_address":"577 Birchmount Rd, Scarborough ON M1K 1P8","locality":"Scarborough","postcode":"M1K 1P8","region":"ON"},"name":"M & M Food Market","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"587ad3301e1de532e5a3d6ba","categories":[{"id":13075,"name":"Bangladeshi Restaurant","short_name":"Bangladeshi","plural_name":"Bangladeshi Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/default_","suffix":".png"}},{"id":13288,"name":"Kebab Restaurant","short_name":"Kebab","plural_name":"Kebab Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/middleeastern_","suffix":".png"}}],"chains":[],"closed_bucket":"LikelyOpen","distance":1025,"geocodes":{"main":{"latitude":43.707276,"longitude":-79.269829},"roof":{"latitude":43.707276,"longitude":-79.269829}},"link":"/v3/places/587ad3301e1de532e5a3d6ba","location":{"address":"462 Birchmount Rd","country":"CA","cross_street":"","formatted_address":"462 Birchmount Rd, Toronto ON M1K 1N8","locality":"Toronto","postcode":"M1K 1N8","region":"ON"},"name":"Adi Biryani & Kabab House","related_places":{},"timezone":"America/Toronto"}],"context":{"geo_bounds":{"circle":{"center":{"latitude":43.7108,"longitude":-79.2812},"radius":1000}}}}

In [3]:
#Created a function to get restaurant from the foursquare api
def get_venues_fs(latitude, longitude, radius=1000, api_key='fsq3dpqhqp5IwUQiS1MSSDH5MjL8QE4WtTJe7bfDdX0pGtI=', categories='4d4b7105d754a06374d81259', limit=50):

    url = f"https://api.foursquare.com/v3/places/search?ll={str(latitude)+'%2C'+str(longitude)}&radius={radius}&categories={categories}&limit={limit}"

    headers = {
    "accept": "application/json",
    "Authorization": api_key
    }

    response = requests.get(url, headers=headers)

    res_json = response.json()['results']

    return res_json

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [4]:
# converting bike csv to dataframe 
bike_df = pd.read_csv("bike.csv")
bike_df

,latitude,longitude,timestamp,last_updated,extra_normal_bikes,extra_ebikes,extra_slots,extra_has_ebikes,total_bike_slots
0,49.262487,-123.114397,2024-05-22T01:55:58.992000Z,1716342676,6,0,36,True,36
1,49.274566,-123.121817,2024-05-22T01:55:58.988000Z,1716342917,5,0,16,True,16
2,49.279764,-123.110154,2024-05-22T01:55:58.989000Z,1716342674,4,0,26,True,25
3,49.260599,-123.113504,2024-05-22T01:55:58.991000Z,1716342766,6,0,16,True,16
4,49.264215,-123.117772,2024-05-22T01:55:59.011000Z,1716342878,7,0,16,True,15
...,...,...,...,...,...,...,...,...,...
247,49.277773,-123.114237,2024-05-22T01:55:59.110000Z,1716342871,9,2,20,True,20
248,49.263073,-123.254307,2024-05-22T01:55:58.980000Z,1716342636,0,12,20,True,20
249,49.259999,-123.250902,2024-05-22T01:55:58.925000Z,1716342642,1,4,26,True,25
250,49.254780,-123.236210,2024-05-22T01:55:58.776000Z,1716342851,4,8,28,True,28
251,49.277510,-123.061429,2024-05-22T01:55:58.751000Z,1716342770,7,2,20,True,20

In [24]:
get_restaurant_dict = {}
# iterating through stations
for index, row in bike_df.iterrows():
    print(f"Processing row {index}...")
    lat = row['latitude']
    log = row['longitude']

    # making API call to foursquare
    get_restaurant = get_venues_fs(latitude= lat, longitude = log)

    #Parsing into a dataframe
    Name = []
    Location = []
    Closed_bucket = []
    Categories_Count = []
  


    for item in get_restaurant:
        location = item['location']
        formatted_address = location['formatted_address']
        categories = item['categories']
        category_count = len(categories)
    
        Name.append(item['name'])
        Location.append(formatted_address)
        Closed_bucket.append(item['closed_bucket'])
        Categories_Count.append(category_count)

        

    dict = {
            "Restaurant_name" : Name,
            "location" : Location,
            "closed_bucket" : Closed_bucket,
            "category_count" : Categories_Count
            
            }
    station_df = pd.DataFrame.from_dict(dict)

    #store dataframe into dictionary
    get_restaurant_dict[f"{lat}:{log}"] = station_df

Processing row 0...
Processing row 1...
Processing row 2...
Processing row 3...
Processing row 4...
Processing row 5...
Processing row 6...
Processing row 7...
Processing row 8...
Processing row 9...
Processing row 10...
Processing row 11...
Processing row 12...
Processing row 13...
Processing row 14...
Processing row 15...
Processing row 16...
Processing row 17...
Processing row 18...
Processing row 19...
Processing row 20...
Processing row 21...
Processing row 22...
Processing row 23...
Processing row 24...
Processing row 25...
Processing row 26...
Processing row 27...
Processing row 28...
Processing row 29...
Processing row 30...
Processing row 31...
Processing row 32...
Processing row 33...
Processing row 34...
Processing row 35...
Processing row 36...
Processing row 37...
Processing row 38...
Processing row 39...
Processing row 40...
Processing row 41...
Processing row 42...
Processing row 43...
Processing row 44...
Processing row 45...
Processing row 46...
Processing row 47...
Processing row 48...
Processing row 49...
Processing row 50...
Processing row 51...
Processing row 52...
Processing row 53...
Processing row 54...
Processing row 55...
Processing row 56...
Processing row 57...
Processing row 58...
Processing row 59...
Processing row 60...
Processing row 61...
Processing row 62...
Processing row 63...
Processing row 64...
Processing row 65...
Processing row 66...
Processing row 67...
Processing row 68...
Processing row 69...
Processing row 70...
Processing row 71...
Processing row 72...
Processing row 73...
Processing row 74...
Processing row 75...
Processing row 76...
Processing row 77...
Processing row 78...
Processing row 79...
Processing row 80...
Processing row 81...
Processing row 82...
Processing row 83...
Processing row 84...
Processing row 85...
Processing row 86...
Processing row 87...
Processing row 88...
Processing row 89...
Processing row 90...
Processing row 91...
Processing row 92...
Processing row 93...
Processing row 94...
Processing row 95...
Processing row 96...
Processing row 97...
Processing row 98...
Processing row 99...
Processing row 100...
Processing row 101...
Processing row 102...
Processing row 103...
Processing row 104...
Processing row 105...
Processing row 106...
Processing row 107...
Processing row 108...
Processing row 109...
Processing row 110...
Processing row 111...
Processing row 112...
Processing row 113...
Processing row 114...
Processing row 115...
Processing row 116...
Processing row 117...
Processing row 118...
Processing row 119...
Processing row 120...
Processing row 121...
Processing row 122...
Processing row 123...
Processing row 124...
Processing row 125...
Processing row 126...
Processing row 127...
Processing row 128...
Processing row 129...
Processing row 130...
Processing row 131...
Processing row 132...
Processing row 133...
Processing row 134...
Processing row 135...
Processing row 136...
Processing row 137...
Processing row 138...
Processing row 139...
Processing row 140...
Processing row 141...
Processing row 142...
Processing row 143...
Processing row 144...
Processing row 145...
Processing row 146...
Processing row 147...
Processing row 148...
Processing row 149...
Processing row 150...
Processing row 151...
Processing row 152...
Processing row 153...
Processing row 154...
Processing row 155...
Processing row 156...
Processing row 157...
Processing row 158...
Processing row 159...
Processing row 160...
Processing row 161...
Processing row 162...
Processing row 163...
Processing row 164...
Processing row 165...
Processing row 166...
Processing row 167...
Processing row 168...
Processing row 169...
Processing row 170...
Processing row 171...
Processing row 172...
Processing row 173...
Processing row 174...
Processing row 175...
Processing row 176...
Processing row 177...
Processing row 178...
Processing row 179...
Processing row 180...
Processing row 181...
Processing row 182...
Processing row 183...
Processing row 184...
Processing row 185...
Processing row 186...
Processing row 187...
Processing row 188...
Processing row 189...
Processing row 190...
Processing row 191...
Processing row 192...
Processing row 193...
Processing row 194...
Processing row 195...
Processing row 196...
Processing row 197...
Processing row 198...
Processing row 199...
Processing row 200...
Processing row 201...
Processing row 202...
Processing row 203...
Processing row 204...
Processing row 205...
Processing row 206...
Processing row 207...
Processing row 208...
Processing row 209...
Processing row 210...
Processing row 211...
Processing row 212...
Processing row 213...
Processing row 214...
Processing row 215...
Processing row 216...
Processing row 217...
Processing row 218...
Processing row 219...
Processing row 220...
Processing row 221...
Processing row 222...
Processing row 223...
Processing row 224...
Processing row 225...
Processing row 226...
Processing row 227...
Processing row 228...
Processing row 229...
Processing row 230...
Processing row 231...
Processing row 232...
Processing row 233...
Processing row 234...
Processing row 235...
Processing row 236...
Processing row 237...
Processing row 238...
Processing row 239...
Processing row 240...
Processing row 241...
Processing row 242...
Processing row 243...
Processing row 244...
Processing row 245...
Processing row 246...
Processing row 247...
Processing row 248...
Processing row 249...
Processing row 250...
Processing row 251...

In [23]:
dict

ValueError: All arrays must be of the same length

The restauarant that were close to the bike stations that I chose did not have ratings.

Put your parsed results into a DataFrame

In [39]:
restaurant_df = pd.concat(get_restaurant_dict)

restaurant_df.reset_index(inplace = True)
restaurant_df
restaurant_df.columns = ['lat:log', 'level_1', 'Restaurant_name','Location', 'Closed_bucket', 'category_count']



#to drop the level_1 column because it's not useful in my dataset
restaurant_df.drop(columns = 'level_1', inplace = True)

#to reduce all the category_count by 1, excluding the restaurant category
restaurant_df['category_count_excluding_restaurant'] = restaurant_df['category_count'] - 1

In [42]:
#to determine the various values of closed_bucket
restaurant_df['Closed_bucket'].value_counts()

Closed_bucket
VeryLikelyOpen    7936
LikelyOpen        3309
Unsure             494
Name: count, dtype: int64

In [45]:
#to replace the Closed Bucket character/string with numbers
restaurant_df['closed_bucket_number'] = restaurant_df['Closed_bucket'].map({'VeryLikelyOpen': 1,
                                                                            'LikelyOpen' : 2,
                                                                            'Unsure' : 3})

In [46]:
# Grouping the restaurant by the lat:log, and finding the mean of the category_count
grouped_rest = restaurant_df.groupby('lat:log')
grouped_rest = grouped_rest.agg(
    count_rest = ('lat:log', 'size'),
    category_mean = ('category_count', 'mean'),
    closed_bucket_mean = ('closed_bucket_number', 'mean')
)
print(grouped_rest)

                       count_rest  category_mean  closed_bucket_mean
lat:log
49.238105:-123.154966          50       1.620000            1.740000
49.243375:-123.104978          48       1.729167            1.541667
49.245135:-123.116098          14       1.857143            1.571429
49.245535:-123.120496          20       2.050000            1.800000
49.246243:-123.124373          20       2.050000            1.750000
...                           ...            ...                 ...
49.29534:-123.150433            5       1.400000            1.800000
49.297933:-123.130758          45       1.644444            1.533333
49.298657:-123.121176          11       2.363636            1.545455
49.299292:-123.130281          25       1.840000            1.520000
49.302577:-123.155616           3       2.000000            1.666667

[252 rows x 3 columns]

In [47]:
grouped_restaurant_df = grouped_rest.reset_index()

#To split the latitude and longitude into new columns using the lat:log column
grouped_restaurant_df[['latitude', 'longitude']] = grouped_restaurant_df['lat:log'].str.split(pat=':', expand = True)

#To drop the lat:log column as it is no longer useful in my dataframe
df = grouped_restaurant_df.drop(columns = 'lat:log')

#To rename the column that shows the count of restauarnts 
df.rename(columns ={0: 'count_of_restaurants'}, inplace= True)
df

     count_rest  category_mean  closed_bucket_mean   latitude    longitude
0            50       1.620000            1.740000  49.238105  -123.154966
1            48       1.729167            1.541667  49.243375  -123.104978
2            14       1.857143            1.571429  49.245135  -123.116098
3            20       2.050000            1.800000  49.245535  -123.120496
4            20       2.050000            1.750000  49.246243  -123.124373
..          ...            ...                 ...        ...          ...
247           5       1.400000            1.800000   49.29534  -123.150433
248          45       1.644444            1.533333  49.297933  -123.130758
249          11       2.363636            1.545455  49.298657  -123.121176
250          25       1.840000            1.520000  49.299292  -123.130281
251           3       2.000000            1.666667  49.302577  -123.155616

[252 rows x 5 columns]

In [48]:
#saving the datafrme as a CSV file
df.to_csv('foursquare.csv', index=False)

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [53]:
import requests

url = "https://api.yelp.com/v3/businesses/search?latitude=54.604948&longitude=-5.921534&categories=&sort_by=best_match"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer zg-a-dKpwuE-SeOHN0Wkfvig0xdhgMjrXD57Sgbs2UyvBd7IZmVU-N8UsyxIHMAcMZg1hRIuGehDcWX_rz1t4LTrZvVMwx_usLq74p06CFHxneAlxpLv9ng6zjZBZnYx"
}

response = requests.get(url, headers=headers)

print(response.text)

Resulted in response 403 error. Was not able to fix error with mentor, it seems like a Yelp Error and not a Code Error

In [69]:
response

In [54]:
responses.text

''

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

My Foursquare API, this is because my YELP API had an error 403, as such did not run

Get the top 10 restaurants according to their rating

My Foursquare data for restaurants did not include rating, so nable to answer this question