In [1]:
# imports
import pandas as pd
import json
import os # use this to access your environment variables
import requests # this will be used to call the APIs

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [2]:
FOURSQUARE_API_KEY = os.environ["four_square"]

# I was not able to save my four_square API in the variable above, I requested for AR and my mentor also struggled and was not able to solve the issue. I decided to move on with my project by including my API KEY directly.

KeyError: 'four_square'

In [52]:
# This is to test that my API connection would be working
url = "https://api.foursquare.com/v3/places/search?l=39.159207%2C-86.525874&radius=1000&categories=4d4b7105d754a06374d81259"

headers = {
    "accept": "application/json",
    "Authorization": "fsq3dpqhqp5IwUQiS1MSSDH5MjL8QE4WtTJe7bfDdX0pGtI="
}
response = requests.get(url, headers=headers)

print(response.text)

{"results":[{"fsq_id":"4c52e13994790f47ae5632a3","categories":[{"id":13032,"name":"Cafe, Coffee, and Tea House","short_name":"Cafe, Coffee, and Tea House","plural_name":"Cafes, Coffee, and Tea Houses","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_","suffix":".png"}},{"id":13043,"name":"Donut Shop","short_name":"Donuts","plural_name":"Donut Shops","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/donuts_","suffix":".png"}},{"id":13065,"name":"Restaurant","short_name":"Restaurant","plural_name":"Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/default_","suffix":".png"}}],"chains":[{"id":"d5719cc0-d890-0132-61d3-7a163eb2a6fc","name":"Tim Hortons"}],"closed_bucket":"VeryLikelyOpen","distance":630,"geocodes":{"main":{"latitude":43.716196,"longitude":-79.283305},"roof":{"latitude":43.716196,"longitude":-79.283305}},"link":"/v3/places/4c52e13994790f47ae5632a3","location":{"address":"720 Warden Ave","country":"CA","cross_street":"at Comstock Rd","formatted_address":"720 Warden Ave (at Comstock Rd), Scarborough ON M1L 4A1","locality":"Scarborough","postcode":"M1L 4A1","region":"ON"},"name":"Tim Hortons","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"553019af498e4433056a9b95","categories":[{"id":13064,"name":"Pizzeria","short_name":"Pizza","plural_name":"Pizzerias","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/pizza_","suffix":".png"}},{"id":13145,"name":"Fast Food Restaurant","short_name":"Fast Food","plural_name":"Fast Food Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/fastfood_","suffix":".png"}}],"chains":[{"id":"ab4a6b90-d68a-012e-5619-003048cad9da","name":"Pizza Hut"}],"closed_bucket":"VeryLikelyOpen","distance":782,"geocodes":{"main":{"latitude":43.710928,"longitude":-79.290996},"roof":{"latitude":43.710928,"longitude":-79.290996}},"link":"/v3/places/553019af498e4433056a9b95","location":{"address":"643 Pharmacy Ave","country":"CA","cross_street":"","formatted_address":"643 Pharmacy Ave, Scarborough ON M1L 3H3","locality":"Scarborough","postcode":"M1L 3H3","region":"ON"},"name":"Pizza Hut","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"4cb6527eb315a0934c469b76","categories":[{"id":13002,"name":"Bakery","short_name":"Bakery","plural_name":"Bakeries","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/bakery_","suffix":".png"}},{"id":13035,"name":"Coffee Shop","short_name":"Coffee Shop","plural_name":"Coffee Shops","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_","suffix":".png"}},{"id":13065,"name":"Restaurant","short_name":"Restaurant","plural_name":"Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/default_","suffix":".png"}}],"chains":[],"closed_bucket":"LikelyOpen","distance":145,"geocodes":{"main":{"latitude":43.711351,"longitude":-79.279595},"roof":{"latitude":43.711351,"longitude":-79.279595}},"link":"/v3/places/4cb6527eb315a0934c469b76","location":{"address":"701 Warden Ave","country":"CA","cross_street":"Warden","formatted_address":"701 Warden Ave (Warden), Toronto ON M1L 3Z5","locality":"Toronto","postcode":"M1L 3Z5","region":"ON"},"name":"Bakery on the Go","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"a1a9c162e42b40827a694912","categories":[{"id":13051,"name":"Fish and Chips Shop","short_name":"Fish and Chips Shop","plural_name":"Fish and Chips Shops","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/fishandchips_","suffix":".png"}},{"id":13338,"name":"Seafood Restaurant","short_name":"Seafood","plural_name":"Seafood Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/seafood_","suffix":".png"}}],"chains":[],"closed_bucket":"LikelyOpen","distance":403,"geocodes":{"main":{"latitude":43.714125,"longitude":-79.283213},"roof":{"latitude":43.714125,"longitude":-79.283213}},"link":"/v3/places/a1a9c162e42b40827a694912","location":{"address":"95 Lebovic","country":"CA","formatted_address":"95 Lebovic, Scarborough ON M1L 0H2","locality":"Scarborough","postcode":"M1L 0H2","region":"ON"},"name":"Hamish Kitchen Restaurant","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"5758d0e7498ead2a505eaffd","categories":[{"id":13199,"name":"Indian Restaurant","short_name":"Indian","plural_name":"Indian Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/indian_","suffix":".png"}}],"chains":[],"closed_bucket":"LikelyOpen","distance":769,"geocodes":{"main":{"latitude":43.710823,"longitude":-79.290886},"roof":{"latitude":43.710823,"longitude":-79.290886}},"link":"/v3/places/5758d0e7498ead2a505eaffd","location":{"address":"641 Pharmacy Ave","country":"CA","cross_street":"","formatted_address":"641 Pharmacy Ave, Scarborough ON M1L 3H3","locality":"Scarborough","postcode":"M1L 3H3","region":"ON"},"name":"Lageez","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"4f2dbba9e4b05a84d83fa830","categories":[{"id":13031,"name":"Burger Joint","short_name":"Burgers","plural_name":"Burger Joints","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/burger_","suffix":".png"}},{"id":13049,"name":"Diner","short_name":"Diner","plural_name":"Diners","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/diner_","suffix":".png"}}],"chains":[],"closed_bucket":"LikelyOpen","distance":771,"geocodes":{"main":{"latitude":43.710712,"longitude":-79.290868},"roof":{"latitude":43.710712,"longitude":-79.290868}},"link":"/v3/places/4f2dbba9e4b05a84d83fa830","location":{"address":"629 Pharmacy Ave","country":"CA","cross_street":"St. Clair","formatted_address":"629 Pharmacy Ave (St. Clair), Toronto ON M1L 3H3","locality":"Toronto","postcode":"M1L 3H3","region":"ON"},"name":"Jumbo Hamburger","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"4bd3a52db221c9b62055dad0","categories":[{"id":13064,"name":"Pizzeria","short_name":"Pizza","plural_name":"Pizzerias","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/pizza_","suffix":".png"}},{"id":13145,"name":"Fast Food Restaurant","short_name":"Fast Food","plural_name":"Fast Food Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/fastfood_","suffix":".png"}}],"chains":[{"id":"ab4afc60-d68a-012e-5619-003048cad9da","name":"Domino's Pizza"}],"closed_bucket":"VeryLikelyOpen","distance":881,"geocodes":{"main":{"latitude":43.704886,"longitude":-79.288314},"roof":{"latitude":43.704886,"longitude":-79.288314}},"link":"/v3/places/4bd3a52db221c9b62055dad0","location":{"address":"447 Pharmacy Ave","country":"CA","cross_street":"","formatted_address":"447 Pharmacy Ave, Scarborough ON M1L 3G7","locality":"Scarborough","postcode":"M1L 3G7","region":"ON"},"name":"Domino's Pizza","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"13a53544c19b49c85c1af040","categories":[{"id":13099,"name":"Chinese Restaurant","short_name":"Chinese","plural_name":"Chinese Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/asian_","suffix":".png"}}],"chains":[],"closed_bucket":"LikelyOpen","distance":923,"geocodes":{"main":{"latitude":43.718928,"longitude":-79.283593},"roof":{"latitude":43.718928,"longitude":-79.283593}},"link":"/v3/places/13a53544c19b49c85c1af040","location":{"address":"751 Warden Ave","country":"CA","formatted_address":"751 Warden Ave, Scarborough ON M1L 4B2","locality":"Scarborough","postcode":"M1L 4B2","region":"ON"},"name":"Best & Fresh Co Ltd","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"15479e5b6d01c5fd750d2558","categories":[{"id":13065,"name":"Restaurant","short_name":"Restaurant","plural_name":"Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/default_","suffix":".png"}}],"chains":[],"closed_bucket":"VeryLikelyOpen","distance":933,"geocodes":{"main":{"latitude":43.714026,"longitude":-79.270466},"roof":{"latitude":43.714026,"longitude":-79.270466}},"link":"/v3/places/15479e5b6d01c5fd750d2558","location":{"address":"577 Birchmount Rd","address_extended":"# 3803","country":"CA","formatted_address":"577 Birchmount Rd, Scarborough ON M1K 1P8","locality":"Scarborough","postcode":"M1K 1P8","region":"ON"},"name":"M & M Food Market","related_places":{},"timezone":"America/Toronto"},{"fsq_id":"587ad3301e1de532e5a3d6ba","categories":[{"id":13075,"name":"Bangladeshi Restaurant","short_name":"Bangladeshi","plural_name":"Bangladeshi Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/default_","suffix":".png"}},{"id":13288,"name":"Kebab Restaurant","short_name":"Kebab","plural_name":"Kebab Restaurants","icon":{"prefix":"https://ss3.4sqi.net/img/categories_v2/food/middleeastern_","suffix":".png"}}],"chains":[],"closed_bucket":"LikelyOpen","distance":1025,"geocodes":{"main":{"latitude":43.707276,"longitude":-79.269829},"roof":{"latitude":43.707276,"longitude":-79.269829}},"link":"/v3/places/587ad3301e1de532e5a3d6ba","location":{"address":"462 Birchmount Rd","country":"CA","cross_street":"","formatted_address":"462 Birchmount Rd, Toronto ON M1K 1N8","locality":"Toronto","postcode":"M1K 1N8","region":"ON"},"name":"Adi Biryani & Kabab House","related_places":{},"timezone":"America/Toronto"}],"context":{"geo_bounds":{"circle":{"center":{"latitude":43.7108,"longitude":-79.2812},"radius":1000}}}}

In [33]:
#Created a function to get restaurant from the foursquare api
def get_venues_fs(latitude, longitude, radius=1000, api_key='fsq3dpqhqp5IwUQiS1MSSDH5MjL8QE4WtTJe7bfDdX0pGtI=', categories='4d4b7105d754a06374d81259', limit=50):

    url = f"https://api.foursquare.com/v3/places/search?ll={str(latitude)+'%2C'+str(longitude)}&radius={radius}&categories={categories}&limit={limit}"

    headers = {
    "accept": "application/json",
    "Authorization": api_key
    }

    response = requests.get(url, headers=headers)

    res_json = response.json()['results']

    return res_json

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [35]:
# converting bike csv to dataframe 
bike_df = pd.read_csv("bike.csv")
bike_df

     latitude  longitude  total_slots
0   54.604948  -5.921534           15
1   54.600337  -5.905516           15
2   54.595315  -5.949091           10
3   54.595840  -5.929881           14
4   54.580556  -5.920504           10
5   54.583901  -5.932810           13
6   54.601319  -5.931308           12
7   54.574854  -5.932134           13
8   54.597573  -5.927663            6
9   54.597142  -5.934827           11
10  54.586848  -5.939333           15
11  54.599358  -5.929838           13
12  54.583948  -5.936989           16
13  54.594634  -5.927441           14
14  54.594321  -5.915236           11
15  54.612417  -5.936748            8
16  54.592680  -5.931528           16
17  54.589329  -5.933508           14
18  54.588123  -5.935525           17
19  54.607397  -5.937086           20
20  54.604986  -5.932853           10
21  54.603612  -5.929286           12
22  54.595321  -5.916460           19
23  54.597177  -5.930825           19
24  54.596086  -5.892781           11
25  54.601425  -5.925847           12
26  54.601437  -5.921996           17
27  54.594821  -5.933116            8
28  54.599399  -5.947595            7
29  54.592172  -5.925547           11
30  54.591219  -5.922650            6
31  54.611849  -5.942139           14
32  54.593469  -5.934409           15
33  54.608528  -5.941029           10
34  54.599697  -5.936308           11
35  54.603923  -5.917243           23
36  54.572534  -5.915076           16
37  54.589851  -5.958463           19
38  54.603687  -5.944403           18
39  54.598753  -5.899396           10
40  54.595255  -5.923680           11
41  54.605713  -5.911299           19
42  54.611906  -5.902814           19
43  54.598203  -5.924033           11
44  54.597270  -5.921116           21
45  54.578142  -5.918787            4
46  54.598305  -5.890582           16
47  54.603420  -5.906825           18
48  54.583056  -5.956993           13
49  54.581962  -5.977871            7
50  54.618475  -5.938534            9
51  54.576116  -5.942574           20
52  54.586112  -5.891912           16
53  54.590889  -5.967314            9
54  54.577839  -5.881805           12
55  54.575364  -5.955373            7
56  54.609674  -5.972700           14
57  54.621307  -5.923744           22
58  54.594131  -5.868545            8

In [36]:
get_restaurant_dict = {}
# iterating through stations
for index, row in bike_df.iterrows():
    # print(f"Processing row {index}...")
    lat = row['latitude']
    log = row['longitude']

    # making API call to foursquare
    get_restaurant = get_venues_fs(latitude= lat, longitude = log)

    #Parsing into a dataframe
    Name = []
    Location = []


    for item in get_restaurant:
        location = item['location']
        formatted_address = location['formatted_address']
    
        Name.append(item['name'])
        Location.append(formatted_address)
        

    dict = {
            "Restaurant_name" : Name,
            "location" : Location
            
            }
    station_df = pd.DataFrame.from_dict(dict)

    #store dataframe into dictionary
    get_restaurant_dict[f"{lat}:{log}"] = station_df

The restauarant that were close to the bike stations that I chose did not have ratings.

Put your parsed results into a DataFrame

In [37]:
restaurant_df = pd.concat(get_restaurant_dict)

restaurant_df.reset_index(inplace = True)
restaurant_df
restaurant_df.columns = ['lat:log', 'level_1', 'Restaurant_name','Location']

#to drop the level_1 column because it's not useful in my dataset
restaurant_df.drop(columns = 'level_1', inplace = True)

In [38]:
restaurant_df

,lat:log,Restaurant_name,Location
0,54.604948:-5.921534,Established Coffee,"54 Hill St, Belfast, BT1 2LB"
1,54.604948:-5.921534,Coppi,"St Anne's Square, Belfast, BT1 2LR"
2,54.604948:-5.921534,Bunsen,"6-8 Hill St, Belfast, BT1 2LA"
3,54.604948:-5.921534,Muriel's Cafe Bar,"12-14 Church Lane, Belfast, BT1 4QN"
4,54.604948:-5.921534,The Dock Cafe,"2K Queens Rd, Belfast, BT3 9DT"
...,...,...,...
2678,54.594131:-5.868545,Binkys Belmont,"20-22 Belmont Rd, Belfast, BT4 2AN"
2679,54.594131:-5.868545,Kanto,"37 Belmont Rd, Belfast, BT4 2AA"
2680,54.594131:-5.868545,Elizabeth Home Bakery,"29 Belmont Rd, Belfast, BT4 2AA"
2681,54.594131:-5.868545,New Century,
2682,54.594131:-5.868545,Silver Leaf Fish & Chips,"15 Belmont Rd, Belfast, BT4 2AA"

In [64]:
# Grouping the restaurant by the lat:log
grouped_rest = restaurant_df.groupby('lat:log').size()
print(grouped_rest)

lat:log
54.572534:-5.915076    50
54.574854:-5.932134    50
54.575364:-5.955373    50
54.576116:-5.942574    50
54.577839:-5.881805    17
54.578142:-5.918787    49
54.580556:-5.920504    47
54.581962:-5.977871    50
54.583056:-5.956993    49
54.583901:-5.93281     50
54.583948:-5.936989    50
54.586112:-5.891912    50
54.586848:-5.939333    50
54.588123:-5.935525    50
54.589329:-5.933508    50
54.589851:-5.958463    39
54.590889:-5.967314    45
54.591219:-5.92265     50
54.592172:-5.925547    50
54.59268:-5.931528     50
54.593469:-5.934409    50
54.594131:-5.868545    50
54.594321:-5.915236    35
54.594634:-5.927441    50
54.594821:-5.933116    50
54.595255:-5.92368     50
54.595315:-5.949091    30
54.595321:-5.91646     50
54.59584:-5.929881     50
54.596086:-5.892781    50
54.597142:-5.934827    50
54.597177:-5.930825    50
54.59727:-5.921116     50
54.597573:-5.927663    50
54.598203:-5.924033    50
54.598305:-5.890582    50
54.598753:-5.899396    50
54.599358:-5.929838    50
54.599399:-5.947595    37
54.599697:-5.936308    50
54.600337:-5.905516    42
54.601319:-5.931308    50
54.601425:-5.925847    50
54.601437:-5.921996    50
54.60342:-5.906825     41
54.603612:-5.929286    50
54.603687:-5.944403    35
54.603923:-5.917243    50
54.604948:-5.921534    50
54.604986:-5.932853    50
54.605713:-5.911299    17
54.607397:-5.937086    38
54.608528:-5.941029    47
54.609674:-5.9727      19
54.611849:-5.942139    49
54.611906:-5.902814    16
54.612417:-5.936748    50
54.618475:-5.938534    50
54.621307:-5.923744    31
dtype: int64

In [76]:
grouped_restaurant_df = grouped_rest.reset_index()

#To split the latitude and longitude into new columns using the lat:log column
grouped_restaurant_df[['latitude', 'longitude']] = grouped_restaurant_df['lat:log'].str.split(pat=':', expand = True)

#To drop the lat:log column as it is no longer useful in my dataframe
df = grouped_restaurant_df.drop(columns = 'lat:log')

#To rename the column that shows the count of restauarnts 
df.rename(columns ={0: 'count_of_restaurants'}, inplace= True)
df

    count_of_restaurants   latitude  longitude
0                     50  54.572534  -5.915076
1                     50  54.574854  -5.932134
2                     50  54.575364  -5.955373
3                     50  54.576116  -5.942574
4                     17  54.577839  -5.881805
5                     49  54.578142  -5.918787
6                     47  54.580556  -5.920504
7                     50  54.581962  -5.977871
8                     49  54.583056  -5.956993
9                     50  54.583901   -5.93281
10                    50  54.583948  -5.936989
11                    50  54.586112  -5.891912
12                    50  54.586848  -5.939333
13                    50  54.588123  -5.935525
14                    50  54.589329  -5.933508
15                    39  54.589851  -5.958463
16                    45  54.590889  -5.967314
17                    50  54.591219   -5.92265
18                    50  54.592172  -5.925547
19                    50   54.59268  -5.931528
20                    50  54.593469  -5.934409
21                    50  54.594131  -5.868545
22                    35  54.594321  -5.915236
23                    50  54.594634  -5.927441
24                    50  54.594821  -5.933116
25                    50  54.595255   -5.92368
26                    30  54.595315  -5.949091
27                    50  54.595321   -5.91646
28                    50   54.59584  -5.929881
29                    50  54.596086  -5.892781
30                    50  54.597142  -5.934827
31                    50  54.597177  -5.930825
32                    50   54.59727  -5.921116
33                    50  54.597573  -5.927663
34                    50  54.598203  -5.924033
35                    50  54.598305  -5.890582
36                    50  54.598753  -5.899396
37                    50  54.599358  -5.929838
38                    37  54.599399  -5.947595
39                    50  54.599697  -5.936308
40                    42  54.600337  -5.905516
41                    50  54.601319  -5.931308
42                    50  54.601425  -5.925847
43                    50  54.601437  -5.921996
44                    41   54.60342  -5.906825
45                    50  54.603612  -5.929286
46                    35  54.603687  -5.944403
47                    50  54.603923  -5.917243
48                    50  54.604948  -5.921534
49                    50  54.604986  -5.932853
50                    17  54.605713  -5.911299
51                    38  54.607397  -5.937086
52                    47  54.608528  -5.941029
53                    19  54.609674    -5.9727
54                    49  54.611849  -5.942139
55                    16  54.611906  -5.902814
56                    50  54.612417  -5.936748
57                    50  54.618475  -5.938534
58                    31  54.621307  -5.923744

In [77]:
#saving the datafrme as a CSV file
df.to_csv('foursquare.csv', index=False)

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [53]:
import requests

url = "https://api.yelp.com/v3/businesses/search?latitude=54.604948&longitude=-5.921534&categories=&sort_by=best_match"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer zg-a-dKpwuE-SeOHN0Wkfvig0xdhgMjrXD57Sgbs2UyvBd7IZmVU-N8UsyxIHMAcMZg1hRIuGehDcWX_rz1t4LTrZvVMwx_usLq74p06CFHxneAlxpLv9ng6zjZBZnYx"
}

response = requests.get(url, headers=headers)

print(response.text)

Resulted in response 403 error. Was not able to fix error with mentor, it seems like a Yelp Error and not a Code Error

In [69]:
response

In [54]:
responses.text

''

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

My Foursquare API, this is because my YELP API had an error 403, as such did not run

Get the top 10 restaurants according to their rating

My Foursquare data for restaurants did not include rating, so nable to answer this question